---
layout: base
title: Eleventy Plugin Post Stats
---

Bacon ipsum dolor amet venison ribeye drumstick prosciutto, swine alcatra leberkas salami t-bone tri-tip biltong. Picanha tenderloin flank boudin, biltong drumstick strip steak shoulder. Sirloin ham pork chop t-bone, boudin sausage bacon pork loin short loin frankfurter. Tenderloin chislic pork loin, sirloin meatloaf pork chop venison. Prosciutto jerky porchetta capicola shoulder, andouille ground round chislic pig doner.<br/>

{% if collections.postStats.postCount > 0 %}
  <ul>
    <li>
      <strong>Post Count:</strong>
      {{ collections.postStats.postCount }}</li>
    <li>
      <strong>Average days between posts:</strong>
      {{ collections.postStats.avgDays }}</li>
    <li>
      <strong>First Post:</strong>
      {{ collections.postStats.firstPostDate }}
    </li>
    <li>
      <strong>Last Post:</strong>
      {{ collections.postStats.lastPostDate }}</li>
  </ul>

  <style>
    table,
    th,
    td {
      border: 1px solid;
    }
    .chart-container {
      width: 1000px;
      height: 600px
    }
  </style>

  <table>
    <thead>
      <tr>
        <th>Year</th>
        <th>Count</th>
        <th>Avg. Days Between Posts&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {% for year in collections.postStats.years %}
        <tr>
          <td>{{ year.year }}</td>
          <td>{{ year.postCount }}</td>
          <td>{{ year.avgDays }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="chart-container">
    <canvas id="statsChart"></canvas>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>

    const ctx = document.getElementById('statsChart');

    new Chart(ctx, {

      data: {
        labels: [{% for year in collections.postStats.years %}'{{ year.year }}'{%- unless forloop.last %},{% endunless %}{% endfor %}],
      datasets: [
        {
          type: 'bar',
          label: 'Number of Posts',
          data: [{% for year in collections.postStats.years %}{{ year.postCount }}{%- unless forloop.last %},{% endunless %}{% endfor %}],
          borderWidth: 1,
          order: 1
        }, {
          type: 'line',
          label: 'Average Number of Days Between Posts',
          data: [{% for year in collections.postStats.years %}{{ year.avgDays }}{%- unless forloop.last %},{% endunless %}{% endfor %}],
          lineTension: 0.8,
          order: 2
        }
      ]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
  </script>

{% else %}
  <p>
    <strong>No data to display</strong>
  </p>

{% endif %}